{% extends 'main.html' %}

{% block content %}

<!-- {% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %} -->

<!-- {% if mess.count != 0 %}
<ul class="messages">
    {% for message in mess %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->


<div>
    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    
    <label>Username : </label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter Password" />

    <input type="submit" value="Login" />
    </form>

    <p>Don't have an account yet? <a href="{% url 'register' %}">Register</a> </p>   

</div>

{% endblock content %}